page-pedido {
    ion-icon{
        color: #b3b512;
    }

    .item-md h2{
        color: #212121;
        margin: 0px;
        padding: 0px;
        font-weight: 700;
    }

    .item-md h3{
        color: #fff;
        margin: 0px;
        padding: 0px;
        font-weight: 700;
    }

    .item-md p{
        color: #757575;
        margin: 0px;
        padding: 0px;
    }

    .item-md h1{
        color: #FFF;
    }

    .item.item-trns {
        margin: 0px;
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
    }

    ion-footer{
        background-color: #07c051;
    }
}
